body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c4dcef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    margin: 0;
}

h1 {
    color: #00254e;
    margin-bottom: 20px;

}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: #f8fafd;
    padding: 34px;
    border-radius: 10px;
    width: 320px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

input[ type="text" ] {
    width: 90%;
    padding: 4px;
}

select {
    width: 85%;
    padding: 7px;
}


input [type="range"] {
    width: 80%;
}



button {
    padding: 8px 15px;
    background-color: #067acc;
    color: white;
    border: none;
    border-radius: 5px;

}

button:hover {
    background-color: #004c83;
}